* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.header {
  background-color: lightslategrey;
}
h1 {
  font-family: serif;
  font-size: 50px !important;
}
.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.form-group {
  width: 265px;
}
#field,
#field-terms {
  width: 430px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
#field > legend,
#field-terms > legend {
  font-size: 18px;
  width: 70%;
}
#field > label,
#field-terms > label {
  margin-right: 7px;
}
.txtarea {
  width: 430px;
}
#email {
  margin-right: 40px;
}
nav > a {
  margin: 0px 20px;
}
nav {
  padding: 15px;
}
label {
  font-family: serif;
  font-weight: bold;
}
